alembic==1.7.6
amqp==5.0.9
aniso8601==9.0.1
appdirs==1.4.4
attrs==21.4.0
autopage==0.5.0
bcrypt==3.2.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
cliff==3.10.0
cmd2==2.3.3
cryptography==36.0.1
debtcollector==2.4.0
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.2.0
dogpile.cache==1.1.5
elementpath==2.4.0
eventlet==0.33.0
extras==1.0.0
fasteners==0.17.3
fixtures==3.0.0
Flask==2.0.3
Flask-RESTful==0.3.9
futurist==2.4.0
greenlet==1.1.2
idna==3.3
iso8601==1.0.2
itsdangerous==2.1.0
Jinja2==3.0.3
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.4.0
keystoneauth1==4.4.0
kombu==5.2.3
lxml==4.8.0
Mako==1.1.6
MarkupSafe==2.1.0
msgpack==1.0.3
munch==2.5.0
netaddr==0.8.0
netifaces==0.11.0
oauthlib==3.2.2
openstacksdk==0.61.0
os-service-types==1.7.0
osc-lib==2.4.2
oslo.cache==2.10.1
oslo.concurrency==4.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.db==11.2.0
oslo.i18n==5.1.0
oslo.log==4.6.1
oslo.messaging==12.13.0
oslo.metrics==0.4.0
oslo.middleware==4.5.1
oslo.policy==3.11.0
oslo.serialization==4.3.0
oslo.service==2.8.0
oslo.upgradecheck==1.5.0
oslo.utils==4.12.2
osprofiler==3.4.2
packaging==21.3
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
pbr==5.8.1
prettytable==3.1.1
prometheus-client==0.13.1
pycadf==3.1.1
pycparser==2.21
pyeclib==1.6.0
pyinotify==0.9.6
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.18.1
pysaml2==7.1.0
python-cinderclient==8.2.0
python-dateutil==2.8.2
python-lorem==1.1.2  # for generating data
python-novaclient==17.6.0
pytz==2021.3
PyYAML==6.0
repoze.lru==0.7
requests==2.27.1
requestsexceptions==1.4.0
rfc3986==2.0.0
Routes==2.5.1
scrypt==0.8.19
simplejson==3.17.6
six==1.16.0
SQLAlchemy==1.4.31
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
statsd==3.3.0
stevedore==3.5.0
Tempita==0.5.2
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
WebOb==1.8.7
Werkzeug==2.0.3
wrapt==1.13.3
xattr==0.9.9
xmlschema==1.9.2
yappi==1.3.3
